{% extends 'base.html' %} {% load static%} {% block content %}

<style>
    #more {display: none;}
    </style>
<script>
    function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");
    
      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more"; 
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less"; 
        moreText.style.display = "inline";
      }
    }
    </script>
    

<div class="content  text-white">
    <section id="home">
        <div class="overlay2">
            <header>
                <div class="menu-toggler">
                    <div class="bar half start"></div>
                    <div class="bar "></div>
                    <div class="bar half end"></div>
                </div>
                <div class="intro "
                    style="background:url('/static/images/coffe.jpg'); height: 100vh; background-size: cover; background-position: center;">
                    <div class="overlay2">

                        <nav class=" top-nav">
                            <ul class="nav nav-list">
                                <li><a href="/" class="nav-link">Home</a></li>
                                <li><a href="#about" class="nav-link">About</a></li>
                                <li><a href="#portfolio" class="nav-link">Applications</a></li>
                                <li><a href="#contact" class="nav-link">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="landing-text pt-5">
                            <div class="container">
                                <div class="row pt-5">
                                    <div class="col-md-12 text-center">
                                        <h1 class="">Sam Wendo</h1>
                                        <h5 class="pb-3 font-weight-bold">Fullstack Developer</h5>
                                        <small style="opacity:0.9;">CODE is LIFE</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </section>
    <div class="index">
        <section class="about mt-5 pt-5" id="about">
            <div class="section-heading text-center">
                <h1>About</h1>
                <h6>Myself</h6>
            </div>
            <div class="about-details">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="text-center "><small class="" style="opacity:0.5;">~ Professionally</small>
                                </h6>
                                <p class="">
                                    I'm a passionate web developer.I have acquired skills and knowledge necessary to
                                    make a succesful project. I enjoy every step of the design process, from discussion,
                                    collaboration to concept and execution.
                                    <br> I love collaborating and working with a group because I get to learn a lot and
                                    improve my skills.
                                </p>
                                <br>
                                <h6 class="text-center "><small style="opacity:0.5;">~ Apart From Coding</small></h6>
                                <p class="">I'm also in love with football, I like watching premier league and also
                                    going to watch local tournaments in the neighborhood on weekends.
                                    <br> I take a lot of coffee through the day, it relaxes my mind and fatigue </p>
                                <br>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <h6 class="ml-5 mt-2"><small class="" style="opacity:0.5;">~Skills</small></h6>
                                <ul>
                                    <li class="python"><strong>Python</strong><img class="pyicon ml-1"
                                            src="{% static 'images/py.png' %}" alt="" width="20%"></li>
                                    <li class="ftext"><strong>Flask</strong><img class="flask ml-1"
                                            src="{% static 'images/flasklogo1.png' %}" alt="" width="18%"></li>
                                    <li class="django"><strong>Django</strong><img class="djangoicon"
                                            src="{% static 'images/django1.jpg' %}" alt="" width="20%"></li>
                                    <li class="js"><strong>Javascript</strong><img class="jsicon"
                                            src="{% static 'images/jjs.png' %}" alt="" width="20%"></li>
                                    <li class="bootstrap"><strong>Bootstrap</strong><img class="booticon"
                                            src="{% static 'images/boot1.png' %}" alt="" width="20%"></li>
                                    <li class="css"><strong>CSS3</strong><img class="cssicon"
                                            src="{% static 'images/css1.jpg' %}" alt="" width="20%"></li>
                                    <li class="html"><strong>HTML5</strong><img class="htmlicon"
                                            src="{% static 'images/html.png' %}" alt="" width="20%"></li>
                                    <li class="angular"><strong>Angular</strong><img class="angularicon ml-1"
                                            src="{% static 'images/angular1.png' %}" alt="" width="20%"></li>

                                </ul>
                                <!-- <img src="{% static 'images/mio.jpg' %}" alt=""> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio mt-5 pt-3 mb-5 pb-5" id="portfolio">
            <div class="container">
                <div class="section-heading text-center mt-5 mr-5">
                    <h1>Portfolio</h1>
                </div>
                <div class="portfolio-item">
                    <div class="container-fluid bg-transparent">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="portfolio-img content">
                                    <!-- Card -->
                                    <div class="">
                                        <div class="card pb-1">
                                            <div class="view overlay">
                                                <img src="{% static 'images/pizz.png'%}"
                                                    class="card-img-top img-thumbnail"  height="50%" width="100%">
                                            </div>
                                            <!-- Card content -->
                                            <div class="">
                                                <!-- Title -->
                                                <h6 class="card-title text-dark text-center text-uppercase mt-2">Tabibu</h6>
                                                <!-- Text -->
                                                <p class="card-text text-dark ml-3"><small>Tabibu <span id="dots">...</span><span id="more">is a platform
                                                        where users can order doctors online straight to the person's residence.</span></small></p>

                                                <!-- Button -->
                                                <a href="https://laurent-c4.github.io/TABIBU-ORDER_DOCTOR_FROM_HOME/" target="_blank"
                                                    class="btn btn-elegant btn-sm ml-5 mt-4">Visit site</a>
                                                <a
                                                    class="btn btn-elegant btn-sm mt-4 ml-5 "onclick="myFunction()" id="myBtn" >Read more</a>

                                            </div>
                                        </div>

                                    </div>


                                    <!-- Card -->
                                </div>
                            </div>
                    
                    
                          <!-- AKAN NAMES -->
                    
                            <div class="col-md-4">
                                <div class="portfolio-img content">
                                    <!-- Card -->
                                    <div class="">
                                        <div class="card">
                                            <div class="view overlay">
                                                <img src="{% static 'images/akhan.png'%}"
                                                    class="card-img-top img-thumbnail" width="100%">
                                            </div>
                                            <!-- Card content -->
                                            <div class="">
                                                <!-- Title -->
                                                <h6 class="card-title text-dark text-center text-uppercase mt-2">Akhan
                                                </h6>
                                                <!-- Text -->
                                                <p class="card-text text-dark ml-3"><small>its about calculation on
                                                        user's day month century and the gender. <br>
                                                        A web app that allow diffrent gender calculate and know their
                                                        akhan name.</small></p>
                                                <!-- Button -->
                                                <a href="https://samwendo.github.io/DAY-AKAN/" target="_blank" class="btn btn-elegant btn-sm ml-5">Visit
                                                    site</a>
                                                <a href="https://samwendo.github.io/DAY-AKAN/" target="_blank"
                                                    class="btn btn-elegant btn-sm ml-5">Details</a>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>


                            <!-- nyumbakumi -->
                            <div class="col-md-4">
                                <div class="portfolio-img content">
                                    <!-- Card -->
                                    <div class="">
                                        <div class="card">
                                            <div class="view overlay">
                                                <img src="{% static 'images/nyumbakum.png'%}"
                                                    class="card-img-top img-thumbnail" width="100%">
                                            </div>
                                            <!-- Card content -->
                                            <div class="">
                                                <!-- Title -->
                                                <h6 class="card-title text-dark text-center text-uppercase mt-2">
                                                The Hood</h6>
                                                <!-- Text -->
                                                <p class="card-text text-dark ml-3"><small>The Hood is a web
                                                        application that allow users to be in the loop about everything
                                                        happening in their neighborhood. From contact information of
                                                        different handyman to meeting announcements.</small></p>
                                                <!-- Button - -->
                                                <a href="https://hood23.herokuapp.com/home" target="_blank"
                                                    class="btn btn-elegant btn-sm ml-5">Visit site</a>
                                                <a href="https://hood23.herokuapp.com/home" target="_blank"
                                                    class="btn btn-elegant btn-sm ml-5">Details</a>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>
                        



                        <!-- DELANI STUDIO -->
                        <div class="row">
                            <div class="col-md-4 mt-3">
                                <div class="portfolio-img content">
                                    <!-- Card -->
                                    <div class="">
                                        <div class="card pb-2">
                                            <div class="view overlay">
                                                <img src="{% static 'images/delani.png'%}"
                                                    class="card-img-top img-thumbnail" width="100%">
                                            </div>
                                            <!-- Card content -->
                                            <div class="">
                                                <!-- Title -->
                                                <h6 class="card-title text-dark text-center text-uppercase mt-2">
                                                    Delani-Studio
                                                </h6>
                                                <!-- Text -->
                                                <p class="card-text text-dark ml-3"><small>Delani Studio deals with a
                                                        range of
                                                        services starting from brand-strategy and user experience
                                                        testing.</small></p>
                                                <!-- Button -->
                                                <a href="https://samwendo.github.io/Studeo/" target="_blank"
                                                    class="btn btn-elegant btn-sm ml-5 mt-4">Visit
                                                    site</a>
                                                <a href="https://samwendo.github.io/Studeo/" target="_blank"
                                                    class="btn btn-elegant btn-sm mt-4 ml-5">Details</a>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>


                            <!-- gallery -->
                            <div class="col-md-4 mt-3">
                                <div class="portfolio-img content">
                                    <!-- Card -->
                                    <div class="">
                                        <div class="card pb-2">
                                            <div class="view overlay">
                                                <img src="{% static 'images/gallary.png'%}"
                                                    class="card-img-top img-thumbnail" width="100%">
                                            </div>
                                            <!-- Card content -->
                                            <div class="">
                                                <!-- Title -->
                                                <h6 class="card-title text-dark text-center text-uppercase mt-2">Gallery
                                                </h6>
                                                <!-- Text -->
                                                <p class="card-text text-dark ml-3"><small>A personal gallery
                                                        application that
                                                        you display your photos for others to see..</small></p>
                                                <!-- Button -->
                                                <a href="https://gallery25.herokuapp.com/" target="_blank"
                                                    class="btn btn-elegant btn-sm ml-5 mt-4">Visit
                                                    site</a>
                                                <a href="https://gallery25.herokuapp.com/" target="_blank"
                                                    class="btn btn-elegant btn-sm mt-4 ml-5">Details</a>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>

                            
                            
                            <!-- Tradition -->
                            <div class="col-md-4 mt-3">
                                <div class="portfolio-img content">
                                    <!-- Card --> 
                                    <div class="">
                                        <div class="card pb-2">
                                            <div class="view overlay">
                                                <img src="{% static 'images/Tradition.png'%}" class="card-img-top img-thumbnail" width="100%">
                                            </div>
                                            <!-- Card content -->
                                            <div class="">
                                                <!-- Title -->
                                                <h6 class="card-title text-dark text-center text-uppercase mt-2">Tradition</h6>
                                                <!-- Text--> 
                                                <p class="card-text text-dark ml-3"><small>The music app is an app tha will help diffrent communities to add diffrent songs of their like

                                                    .</small></p>
                                                <!-- Button -->
                                                <a href="" target="_blank" class="btn btn-elegant btn-sm ml-5 mt-4">Visit site</a>
                                                <a href="" target="_blank" class="btn btn-elegant btn-sm mt-4 ml-5">Details</a>

                                            </div> 
                                        </div>

                                    </div>
                            <!-- Card --> 
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <section class="contact mt-5 pt-5" id="contact">
        <div class="container">
            <div class="section-heading text-center">
                <h1>Contact</h1>
                <h6>Let's work together</h6>
                <p class="">Email: <small>wendosam21@gmail.com</small></p>
                <div class="text mr-5 pr-5 ">
                    <!-- <a href="{% static 'Sam Wendo Curriculum Vitae.pdf'%}" download="Ritamwaura Curriculum Vitae.pdf"><small class="text-white"><button class="btn btn-info btn-md ml-4 " type="button" name="button">Download CV <i class="far fa-file-pdf fa-1x text-white"></i></button></small></a> -->

                </div>
                <ul class="nav-list">
                    <li>
                        <a href="" class="icon-link ml-3">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="icon-link">
                            <i class="fab fa-linkedin-square fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="icon-link">
                            <i class="fab fa-github-square fa-2x"></i>
                        </a>
                    </li>
                    <!-- <iframe src="https://giphy.com/embed/3htAzob87OfMvAS5Yp" width="50px" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                        <p>
                            <a href="https://giphy.com/stickers/playmobil-football-3htAzob87OfMvAS5Yp"></a>-->
                    </p>
                </ul>
                <a class="cont" href="#home">&#8648;</a>
            </div>
        </div>
    </section>
</div>
</div>
{% endblock %}